@import url('https://fonts.googleapis.com/css?family=Lato:300,200,400');

.side-bar {
    /*animation-name: slidein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier();*/
    position: fixed;
    height: 100%;
    max-width: 400px;
    width: 400px;
    left: 0px;
    z-index: 10;
    /* background-color: #EDECE8; */
    background-color: rgba(30, 30, 30, 1);
}

.flex-box-vert {
    display: flex;
    flex-direction: column;
    /*align-content: center;*/
    /*justify-content: space-around;*/
}

.flex-box-row {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.flex-box-item {
    display: flex;
    align-self: center;
}

.photo {
    border-radius: 50%;
    width: 50%;
    margin-top: 50px;
}

.photo-title h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 2em;
    color: #FD6356;
    margin: 10px 0px 5px 0px;
    padding-top: 20px;
}

.line {
    width: 100px;
    height: 1px;
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: white;
}

.photo-subtitle {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    color: rgba(260, 260, 260, 0.6);
    margin-bottom: 50px;
}

.links {
    padding-top: 15px;
    width: 100px;
    justify-content: space-around;
}

.nav {
    width: 100%;
}

.nav ul {
    list-style-type: none;
    width: 100%;
    padding: 0px;
}

.nav ul li {}

.nav ul li a {
    color: rgba(280, 280, 280, 0.6);
    text-decoration: none;
    

    /* color: #1F1F1F; */
    /* opacity: 0.6; */
    transition: color 0.15s ease-in-out;
}

.nav ul li a:visited {
    /* color: #1F1F1F */
    /* theultralinx.com sidebar modern design*/
}

.nav ul li a:hover {
    /* color: #1F1F1F; */
    color: #FD6356;
    /* opacity: 1.0; */
    transition: color 0.15s ease-in-out;
}

.nav ul li a div {
    width: 100%;
    padding: 5px 0px;
    text-align: right;
    border-top: 1px solid rgba(90, 90, 90, 0.8);
    transition: background-color 0.15s ease-in-out;
}

.nav ul li:last-child a div {
    border-bottom: 1px solid rgba(90, 90, 90, 0.8);
}

.nav ul li a div:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.15s ease-in-out;
}

.nav ul li a div p {
    position: relative;
    right: 30px;
    font-size: 1.1em;
}

.credits {
    position: relative;
    top: 100px;
}

.credits p a {

}

@keyframes slidein {
    100% {left: 0px;}
}

@keyframes fadeinout {

}